.tableUsers {
  height: auto;
  max-height: 600px;
  overflow-y: auto;
  display: block !important;
}

@media screen and (max-width: 400px) {
  .buttons {
    flex-direction: column;

    > button {
      margin: 0 !important;
      margin-bottom: 0.5rem !important;
      width: 100% !important;
    }
  }
}
